<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Publicar Animal</title>
    <link rel="stylesheet" th:href="@{/css/formulario-registrarAnimal.css}" />
</head>
<body>
<nav>
    <a th:href="@{/}" class="logo">🐾 PawHope</a>
</nav>

<main class="formulario-adopcion" style="max-width: 640px; margin: 3rem auto; padding: 2rem 1.5rem;">
    <h2>Publicar nuevo animal</h2>

    <form th:action="@{/web/animales/registrar}" method="post" th:object="${animal}" enctype="multipart/form-data" class="formulario">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required />

        <label>Años:</label> <input type="number" th:field="*{anios}" min="0" max="150" required />
        <label>Meses:</label> <input type="number" th:field="*{meses}" min="0" max="12" required />

        <label>Raza:</label>
        <input type="text" th:field="*{raza}" required />

        <label>Descripción:</label>
        <textarea th:field="*{descripcion}" required></textarea>

        <label>Tipo:</label>
        <select th:field="*{especie}">
            <option value="Perro">Perro</option>
            <option value="Gato">Gato</option>
            <option value="Pájaro">Pájaro</option>
            <option value="Reptil">Reptil</option>
            <option value="Conejo">Conejo</option>
        </select>

        <label>Imagen:</label>
        <input type="file" name="imagen" accept="image/*" required />

        <button type="submit" class="btn">Publicar</button>
    </form>

    <a th:href="@{/}">Volver</a>
</main>

</body>
</html>
