<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Registro - PawHope</title>
    <link rel="stylesheet" th:href="@{/css/registro-login.css}" />
</head>
<body>

<nav style="display: flex; justify-content: space-between; align-items: center;">

    <ul id="nav-links" style="display: flex; gap: 1rem; list-style: none; margin: 0; padding: 0;">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/about}">Sobre Nosotros</a></li>
    </ul>

    <a th:href="@{/}" class="logo">🐾 PawHope</a>
</nav>

<main class="login-container">
    <form th:action="@{/web/usuarios}" method="post" class="formulario">
        <h2>Registro de usuario</h2>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />

        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" required />

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required />

        <button type="submit" class="btn">Registrarse</button>
        <button type="button" onclick="window.location.href='/pawhope/login'" class="btn btn-secondary">Iniciar sesión</button>

        <div th:if="${errorCorreoExistente}" class="error" th:text="${errorCorreoExistente}"></div>
    </form>
</main>
</body>

</html>
